doctype
html(lang='en')
  include ./templates/head
  include ./templates/nav-header
  body
    h1=title
    p
      strong Book Title: #{space}
      = loan.book.title
    p
      strong Loaned By: #{space}
      | #{loan.patron.first_name} #{loan.patron.last_name}
    p
      strong Loaned On: #{space}
      = loan.loaned_on
    p
      strong Return By: #{space}
      = loan.return_by
    form(action=`/loans/return/${loan.id}?_method=PUT`, method="POST")
      p
        label(for='returned_on') Returned on:
        input#returned_on(type='date', value=date max=date name="returned_on")
      p
        input(type='submit', value='Return Book')
